<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vini Mini</title>
    <!-- Link to FontAwesome -->
    <script src="https://kit.fontawesome.com/dbf182c521.js" crossorigin="anonymous"></script>

    <!-- Link to the css -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Link to Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link to the JavaScript -->
    <script src="/script.js" defer></script>

  </head>
  <body>

    <!-- Navigation start -->
      <header class="header">
        <nav class="nav container flex">
          <a href="#" class="logo-content flex">
          <img src="/logo.png" class="logo" alt="Logo van Vini Mini">
          </a>

          <div class="menu-content">
            <ul class="menu-list flex">
              <li><a href="#" class="nav-link">Voor Vini Mini</a></li>
              <li><a href="#" class="nav-link">Vini Mini producten</a></li>
              <li><a href="#" class="nav-link">Over ons</a></li>
              <li><a href="#" class="nav-link">Nieuws</a></li>
              <li><a href="#" class="nav-link">Contact</a></li>
              <li><a href="#" class="nav-link">Zoeken</a></li>
            </ul>

            <div class="media-icons flex">
              <a href="#"><i class='bx bxl-facebook'></i></a>
              <a href="#"><i class='bx bxl-twitter' ></i></a>
              <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
            </div>

            <i class='bx bx-x navClose-btn'></i>
          </div>

          <i class='bx bx-menu navOpen-btn'></i>
        </nav>
      </header>
    <!-- Navigation end -->